:root {
  --red: #db1e29;
  --red-hover: #a1050d;
  --light-gray: #eeeeee;
  --dark-gray: #313131;
  --focus-blue: #030a8a;
  --border-radius: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: var(--dark-gray);
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 24px;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid var(--dark-gray);
  border-radius: var(--border-radius);
  background-color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  border: 2px solid var(--focus-blue);
}

.title {
  margin: 0;
  font-size: 4rem;
  text-align: center;
}

.origin-label {
  padding-bottom: 8px;
}

.stations-section {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.navigation-section {
  border: 1px solid var(--dark-gray);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.station-select {
  float: right;
  width: 200px;
}

.direction-switcher {
  margin-left: 10px;
  height: 48px;
}

.next-train-section {
  border: 1px solid var(--dark-gray);
  border-radius: var(--border-radius);
  width: 100%;
  margin-top: 24px;
  padding: 24px 0;
  display: inline-flex;
  flex-direction: column;
}

.next-train-section > div {
  padding-left: 24px;
  font-size: 16px;
  line-height: 22px;
}

.show-more-trains-btn {
  padding: 12px 0;
  margin: 20px;
  background-color: var(--red);
  color: white;
  font-size: 20px;
}

.show-more-trains-btn:hover {
  background-color: var(--red-hover);
}

.show-more-trains-btn:focus {
  background-color: var(--red-hover);
}

table {
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 3px;
  padding: 5px 0;
}

.timetable {
  margin-top: 24px;
}

td:first-child {
  padding-left: 24px; 
}

td:not(:first-child) {
  padding-left: 10px;
}

thead {
  font-weight: bold;
  border-bottom: 1px solid var(--dark-gray);
}

tbody > tr:nth-child(odd) {
  background-color: var(--light-gray);
}
/*
Next items:
1. Remove show more button and show the rest of the .show-more-trains-btn
2. Dark mode
3. Deploy
*/